{
  "arrowParent": "avoid",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 40,
  "tabWidth": 2,
  "semi": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "trailingComma": "es5",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^[./]",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
