{
  "arrowParent": "avoid",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 40,
  "tabWidth": 2,
  "semi": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)", 
    "<THIRD_PARTY_MODULES>", 
    "@/(.*)", 
    "^@(.*)",
    "^[./ ]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
